body, html{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 75px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}
img{
    display: block;
    margin: auto;
}
.relative{
    position: relative;
}
.coinBtn{
    position: absolute;
    bottom: 313px;
    left: 47.6%;
    /* padding: 6px 15px 5px 15px; */
    cursor: pointer;
    background-color: white;
    border: none;
    font-size: 14px;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    transition: transform 300ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    font-weight: bold;
}

.coinBtn:hover{
    transform: scale(1.2);
}


.slide{
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    transition: opacity 500ms, visibiliy 500ms;
    text-align: center;
    margin: 25px 0 25px 0;
}

/* .slide:first-of-type{
    display: flex;
    opacity: 1;
} */