:root {
    --base: #2E383C;
    --light: #899fa9; 
    --highlight: #4CADE7;
}

/* background */
body {
    background-color: var(--base);
}

#solveSpeedInput { 
    border: 1px solid var(--light);
}

/* title */
h1, p {
    color: var(--highlight);
}

#popupBody{
    border:5px solid var(--light);
    background-color: var(--base);
    color: var(--light);
}

.modalBtn {
    color: var(--light);
}

.modalBtn:hover{
    color: var(--highlight);
}

#titleMask {
    background-color: var(--base);
}

/* skip btn */
#skipBtn {
    color: var(--highlight);
}

#skipBtn:hover {
    color: var(--light);
}

/* main btns */
.controlBtn, .disabledControlBtn {
    color: var(--light);
}

.controlBtn:hover {
    color: var(--highlight);
}

.fas, li{
    color: var(--light);
}

/* main btn seperators */
h3 {
    color: var(--highlight);
}

input[type=text] {
    background-color: #72848c;
    border: 1px solid #72848c;
    color: black;
}

input[type=text]:focus {
    background-color: var(--highlight);
    border: 1px solid var(--highlight);
    outline: none;
}

/* settings */

.settingsTitle, .close{
    background-color: var(--base);
    color: var(--light);
}

#line {
    background-color: var(--highlight);
}