/* background */
body, #titleMask{
    background-color: white;
}

#skipBtn:hover, .controlBtn:hover {
    color: grey;
}

#line {
    background-color: black;
}

input[type=text] {
    border: 1px solid black;
}

input[type=text]:focus {
    background-color: black;
    color: white;
    outline: none;
}