body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    /* background-color: black; */
}

.fadein{
    transition: opacity 1s;
    opacity: 0;
}

#scale{
    width: max-content;
}

.header{
    /* box-sizing: border-box; */
    /* width: 100%; */
    background-color: white;
    height: 150px;
    /* top: 0; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding-right:50px;
    padding-left: 340px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}

.header::after {
    content: "";
    position: absolute;
    top: 100%;
    height: 20px;
    width: 100%;
    left: 0;
    background: url(rip.svg) bottom;
    background-size: 100%;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 50px;
    text-align: center;
}

.footer::before {
    content: "";
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    left: 0;
    background: url(rip.svg) bottom;
    background-size: 100%;
    transform: rotate(180deg);
}

.dropdown{
    display: none;
    position: relative;
}

.smallTitle{
    margin: 0;
    margin-right: 5px;
}

.smallTitle:hover{
    color: black;
}

.dropdown-content{
    box-shadow: 0 0 20px 5px black;

    transition: visibility 300ms, opacity 300ms;
    display: flex;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    right: 0;
    width: 150px;
    /* height: 300px; */
    flex-direction: column;
    background-color: white;
    padding: 20px;
    padding-top: 10px
}


.dropdownBtn{
    width: 100%;
    font-size: 1.5em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.dropdownBtn:hover{
    opacity: 0.75;
}

.dropdown:hover .dropdown-content{
    visibility: visible;
    opacity: 1;
}

.logoContainer{
    width: fit-content;
    position: absolute;
    left: 50px;
    top: 0;
    padding: 25px;
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: black;
    box-shadow: 0 0 20px 1px black;
    z-index: 1;
}

.logo{
    width: 190px;
    height: 190px;
    transition: all 1s;

    background-image: url(texture.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    mask-image: url(lion.svg);
    mask-size: 200px;
    mask-repeat: no-repeat;
    mask-position: center;

    -webkit-mask-image: url(lion.svg);
    -webkit-mask-size: 200px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#title{
    margin-top: 0;
    z-index: 0;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.textBtn{
    font-size: 1.2em;
    /* margin: 10px; */
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 5px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: opacity 300ms;

}

.imgBtn{
    width: 25px;
    height: 25px;
    margin: 10px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: opacity 300ms;
}

.imgBtn:hover, .textBtn:hover{
    opacity: 0.5;
}

.section{
    box-sizing: border-box;
    margin: 0;
    padding: 50px;
}



.section:nth-child(3){
    padding-top: 125px;
    background-color: #53240E;
}

.section:nth-child(4){
    background-color: #85481E;
}

.section:nth-child(5){
    background-color: #B6703A;
}

.section:nth-child(6){
    background-color: #E0A16C;
}

.section:nth-child(7){
    background-color: #F7D0AA;
}


@media only screen and (max-width: 800px) {

    .section:nth-child(3){
        padding-top: 50px;
    }

	.dropdown{
        display: block;
    }
    
    .header{ 
        padding-left: 50px;
        justify-content: space-between;
    }

    .logoContainer{
        left: 0;
        margin-right: 25px;
        position:relative;
        display: flex;
        align-items: center;
        background: transparent;
        box-shadow: none;
        padding: 0;
    }

    .logo{
        height: 100px;
        width: 100px;
        mask-size: 110px;
        -webkit-mask-size: 110px;
    }
    
    #title{ display: none;}

    .buttons{ display: none;}
}


@media only screen and (max-width: 500px) {
    .header{
       padding-left: 20px;
       padding-right: 20px;

    }

}

@media only screen and (max-width: 330px) {
    .smallTitle{
        display: none;
    }

    .header{
        justify-content: space-around;
    }

}






/* OVERLAY */

#overlay{
    transition: opacity 500ms;    
    display: none;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    background-color: rgba(0,0,0,0.75);
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.overlayContent{
    position: relative;
    background-color: white;
    padding: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: clamp(16px, 2vw, 20px);
    margin: 50px;
    margin-bottom: 100px;
}

.xBtn{
    transform: rotate(360deg);
    transform-origin: center;
    width: 50px;
    height: 50px;
    font-size: 2.5em;
    line-height: 0;
    background-color: transparent;
    border: none;
    transform: rotate(45deg);
    transition: transform 500ms;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

}

.xBtn:hover{
    transform: rotate(135deg);
}

.largeText{
    font-size: 50px;
    user-select: all;
    transition: all 500ms;
    background-color: black;
    width: 100%;
    color: white;
    padding: 25px;
    text-align: center;
    font-size: clamp(40px, 4vw, 50px);;
    border: 5px solid white;
    margin-top: 0;
}

.largeText:hover{
    background-color: white;
    color: black;
    border: 5px solid black;
}

.fadeScroll{
    opacity: 0;
    transform: translateY(75px);
    transition: opacity 1s, transform 1s;
}