body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    /* background-color: black; */
}

.header{
    background-color: #B6703A;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    position:relative;
    padding-right:50px;
    padding-left: 340px;
    text-align: right;
    margin-bottom: 150px;
}

.header::after {
    content: "";
    position: absolute;
    top: 100%;
    height: 20px;
    width: 100%;
    left: 0;
    background: url(rip.svg) bottom;
    background-size: 100%;
}

.dropdown{
    display: none;
    position: relative;
}

.smallTitle{
    margin: 0;
    margin-bottom: -4px;
    margin-right: 5px;
}

.dropdown-content{
    box-shadow: 0 0 20px 5px black;

    transition: visibility 300ms, opacity 300ms;
    display: flex;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    right: 0;
    width: 150px;
    /* height: 300px; */
    flex-direction: column;
    background-color: white;
    padding: 20px;
    padding-top: 10px
}


.dropdownBtn{
    width: 100%;
    font-size: 1.5em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.dropdownBtn:hover{
    opacity: 0.75;
}

.dropdown:hover .dropdown-content{
    visibility: visible;
    opacity: 1;
}

.logoContainer{
    width: fit-content;
    position: absolute;
    left: 50px;
    top: 0;
    padding: 25px;
    background-color: black;
    box-shadow: 0 0 20px 5px black;
    z-index: 1;
}

.logo{
    opacity: 0;
    width: 190px;
    height: 190px;
    transition: all 1s;

    background-image: url(texture.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    mask-image: url(favicon.svg);
    mask-size: 200px;
    mask-repeat: no-repeat;
    mask-position: center;

    -webkit-mask-image: url(favicon.svg);
    -webkit-mask-size: 200px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

.column{
    display: flex;
    flex-direction: column;
}

#title{
    margin-top: 0;
    opacity: 0;
    transition: all 1s;
    z-index: 0;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.textBtn{
    font-size: 1.2em;
    /* margin: 10px; */
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 5px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: opacity 300ms;

}

.imgBtn{
    width: 25px;
    height: 25px;
    margin: 10px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: opacity 300ms;
}

.imgBtn:hover, .textBtn:hover{
    opacity: 0.5;
}

@media only screen and (max-width: 800px) {
	.dropdown{
        display: block;
    }
    
    .header{ 
        padding-left: 50px;
        margin-bottom: 0;
        justify-content: space-between;
    }

    .logoContainer{
        left: 0;
        margin-right: 25px;
        position:relative;
        display: flex;
        align-items: center;
        background: transparent;
        box-shadow: none;
        padding: 0;
    }

    .logo{
        height: 100px;
        width: 100px;
        mask-size: 110px;
        -webkit-mask-size: 110px;
    }
    
    #title{ display: none;}

    .buttons{ display: none;}
}

@media only screen and (max-width: 500px) {
    .header{
       padding-left: 20px;
       padding-right: 20px;

    }

}

@media only screen and (max-width: 330px) {
    .smallTitle{
        display: none;
    }

    .header{
        justify-content: space-around;
    }

}
