@font-face {
    font-family: 'pixelFont';
    src: url('./media/fonts/PerfectDOSVGA437.woff2') format('woff2'),
         url('./media/fonts/PerfectDOSVGA437.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    height: -webkit-fill-available;
}

body{
    margin: 0;
    background-color: black;
    font-family: pixelFont, monospace, Times, serif;
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
}
p{
    font-size: 18px;
}
button{
    font-size: 16px;
    font-family: pixelFont, monospace, Times, serif;
    color: black;
}

#mainContent{
    background-image: url("./media/images/stoneCropped.png");
    background-size: clamp(0px, 120vw, 600px), 9vw;
    background-position-y: -10px;
    position: relative;
    width: 100%;
    height: 100vh;
    margin: auto;
    overflow: hidden;
    max-width: 600px;
}

#desk{
    filter: drop-shadow(0 5px 5px #444);
    width: 100%;
    position: absolute;
    bottom: 50%;
    left: 0;
    transform: translateY(85%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#deskExtension{
    position: absolute;
    bottom: 30%;
    width: 100%;
    height: 50%;
    background-color: #6F431A;
    transform: translateY(85%);
}

#musicGoblin{
    position: absolute;
    left: 50%;
    width: 60%;
    top: 50%;
    transform: translate(-50%, -110%);
    -webkit-filter: drop-shadow(-5px 5px 5px #444);
    filter: drop-shadow(-5px 5px 5px #444);
}

@media only screen and (max-width: 450px) {
    #musicGoblin{
        width: 70%;
        top: 51%;
    }
}


#dialogContainer{
    filter: drop-shadow(0 0 2px #000);
    position: absolute;
    overflow-wrap: break-word;
    width: 85%;
    max-height: 40%;
    min-height: 34px;
    bottom: 44%;
    left: 50%;
    transform: translate(-50%, 100%);
    background-color: #f1c185;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 2;
    box-shadow: 12px 0 #f1c185, -12px 0 #f1c185, 0 -12px #f1c185,  0 12px #f1c185, 3px 0 0 6px #f1c185, -3px 0 0 6px #f1c185, 0 -3px 0 6px #f1c185, 0 3px 0 6px #f1c185, 15px 0 #f1c185,  -15px 0 #f1c185, 0 -15px #f1c185,  0 15px #f1c185, 0 0 0 9px #f1c185, 0 6px 0 6px #f1c185, 0 -6px 0 6px #f1c185, 6px 0 0 6px #f1c185, -6px 0 0 6px #f1c185;
}

#letter{
    width: 20%;
    left: 35%;
    bottom: 50%;
    z-index: 0;
    position: absolute;
    transform: translateX(-50%);
    transition: bottom 1s, left 2s;
}

#stickyHand{
    width: 45%;
    left: 35%;
    bottom: 35%;
    z-index: 0;
    position: absolute;
    margin-left: -9%;
    opacity: 0.9;
    transform: translateX(-50%);
    transition: bottom 1s, left 2s;
}

#paperContainer{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 100;
    padding: 10px;
    opacity: 0;
    transition: transform 1s, opacity 1s;
}

.musicText{
    position: absolute;
    display: none;
    aspect-ratio: 2/2.8;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: auto;

    margin: 0;
    margin-top: 10px;

}

.indent{
    margin-left: 40px;
}

#paper{
    width: 100%;
}

.musicLogo{
    width: 40px;
    margin: 0;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.musicLink{
    text-decoration: none;
    font-style:italic;
    margin-left: 20px;
}


.musicNote{
    width: 40px;
    opacity: 0;
    transition: top 1s ease-in, opacity 500ms;
    position:absolute;
}

#speakerName{
    width: 100%;
    position: absolute;
    bottom: 40%;
    transition: bottom 500ms;
    text-align: center;
    color: white; /*#7B861F;*/
}

#continuePrompt{
    position: absolute;
    bottom: 40%;
    left: 5%;
    transition: bottom 1s;
    font-style: italic;
    margin-left: 2px;
    opacity: 0.75;
    color: white;
    font-size: 20;
}

#dialog{
    margin-top: 5px;
    margin-bottom: 5px;
}

#dialogOptionsContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}

.dialogButton, .btn{
    margin: 5px 5px;
    border-style: solid;
    border-width: 2px;
    border-image-slice: 1005;
    background-color: transparent;
    box-shadow: inset 0 0 100px #ffffff;
    border-image-source: url(media/images/border.png);
    padding: 5px 10px;

    display: none;
    opacity: 0;
    transition: opacity 500ms;
}

.btn{
    display: none; /*block*/
    opacity: 1;
    margin-bottom: 150px;
}

#letterDoneBtn{
    margin: 10px 0 0 0;
    display: block;
}

#nameInput{
    display: none;
}

#fadeOut{
    width: 100%;
    height: 20%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 1;
}

#overlayContainer{
    width: 100%;
    max-width: 600px;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    position: fixed;
    left: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    overflow: hidden;

    transform: translateX(-50%);
    transition: opacity 500ms;
}

#outsideImage{
    height: 100%;
    transition: transform 1s, opacity 1s;
}

#enterText{
    position: absolute;
    top: 7%;
    animation: flash 2s infinite;
    z-index: 100;
    width: 100%;
    text-align: center;
    text-shadow: white 2px 2px 0px;
    font-size: 20px;
    /* font-weight: bold; */

}

@keyframes flash {
    0%, 100%{
        opacity: 1;
        transform: translateY(0);
    }
    50%{
        opacity: 0;
        transform: translateY(5px);
    }
}

@keyframes heartAttack {
    0%, 100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

@keyframes pulse {
    0%, 100%{
        transform: translateX(-50%) scale(1);
        filter: drop-shadow(0 0 0px #FFF);
    }
    50%{
        transform: translateX(-50%) scale(1.1);
        filter: drop-shadow(0 0 10px #FFF);
    }
}

