/* 

    PLEASE DONT LOOK AT MY CSS IT MAKES ME CRINGE TOO IM SORRY

    MOST OF THIS WAS MADE AT 2AM WHILE REFUSING TO STUDY CALCULUS

    SIDE NOTE: FUCK INTEGRALS

*/

@font-face {
    font-family: 'Super Mario 256';
    src: url('media/font/SuperMarioGalaxy.eot');
    src: url('media/font/SuperMarioGalaxy.eot?#iefix') format('embedded-opentype'),
        url('media/font/SuperMarioGalaxy.woff2') format('woff2'),
        url('media/font/SuperMarioGalaxy.woff') format('woff'),
        url('media/font/SuperMarioGalaxy.ttf') format('truetype'),
        url('media/font/SuperMarioGalaxy.svg#SuperMarioGalaxy') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Super Mario 256';
    text-align: center;
    /* padding-bottom: 200px; */
    background-color: #CEA7F9;
    margin: 0;
}

p{
    font-family: 'Open Sans', sans-serif;
}

#logo{
    margin: auto;
    display: block;
    width: 50vw;
}

#countdownContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
}

.mobileCountdown{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    /* width: 100%; */
}

#countdownHeading{
    font-size: clamp(40px, 4vw, 50px);
    margin: 0 25px;
    margin-bottom: 25px;
}

.countdownLabel{
    text-align: center;
    /* margin: 1%; */
    /* width: 20%; */
    /* min-width: 150px; */
    font-size: 4vw;
    /* margin: 0 50px; */
    width: 20vw;
    min-width: 150px;
}

.countdownLabel h1{
    margin: 0;
}

.counterSubtext{
    font-size: clamp(20px, 2vw, 2vw);
}

.num{
    transition: transform 500ms;
    transform-style: preserve-3d;
    /* transform: rotateY(90deg); */
    transform-origin: center;
    display: block;
    width: fit-content;
}

.arrowBtn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: transform 300ms;
}

.arrowBtn:first-child{
    left: 10%;
    transform: translateY(-50%) scaleX(-1);
}


.arrowBtn:last-child{
    right: 10%;
}

@media(hover){
    .arrowBtn:first-child:hover{
        transform: translateY(-50%) scale(-1.4, 1.4);
    }
    
    .arrowBtn:last-child:hover{
        transform: translateY(-50%) scale(1.4);
    }
}

.reviewContainer{
    display: flex;
    margin: auto;
    width: 90%;
    overflow-x: hidden;
    position: relative;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.2959558823529411) 0%, rgba(76,158,93,0) 50%, rgba(255,255,255,0.2959558823529411) 100%);
}

#allReviews{
    display: flex;
    transition: margin-left 1s;
}

.review{
    margin: 0 5vw;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: width 1s;
}

.heading{
    /* margin-top: 200px; */
    margin: 0 25px;
}

.row{
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 100%;
    /* margin-top: 150px; */
    /* margin-bottom: -20px;
    margin-top: -20px; */
    z-index: 9;

    /* margin: 150px 0; */
    position: absolute;
    transform: translateY(-50%);
}

.sectionDiv{
    padding: 100px 0;
    position: relative;
}


.white{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
}
.text{
    font-family: 'Open Sans', sans-serif;
}

.text:before{
    content: "\"";
}

.text:after{
    content: "\"";
}

.author{
    text-align: right;
}

.author:after{
    content: " in chat"
}

.blue{
    color: #1F90FF;
}

.purple{
    color: #B454FF;
}

.red{
    color: #FF080B;
}

.green{
    color: #63BF32;
}

#overlayContainer{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
}

.overlayContent{
    background-color: white;
    width: 90%;
    padding: 50px 10%;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 90%;
    transform: translateY(-200%);
    transition: transform 600ms;
}

.overlayContent h2{
    color: #B454FF;
    margin-bottom: 5px;
    margin-top: 0;
}

.overlayContent p{
    height: 75%;
    overflow-y: scroll;
    border: 5px solid #B454FF;
    border-radius:10px;
    padding: 3%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    max-height: 500px;
    margin-bottom: 0;
    text-align: justify;
    /* box-shadow:inset 0px 0px 0px 10px #f00; */
}

.noSelect{
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.marioImg{
    animation: marioJump 5s infinite;
    width: 5vw;
    min-width: 40px;
    max-width: 50px;
}

.right:nth-child(2){
    animation-delay: 500ms;
}

.right:nth-child(3){
    animation-delay: 1s;
}

.left:nth-child(1){
    animation-delay: 1s;
}

.left:nth-child(2){
    animation-delay: 500ms;
}

@keyframes marioJump {
    5%{
        transform: rotateY(90deg) translateY(-50px);
    }
    10%{
        transform: rotateY(180deg);
    }

    50%{
        transform: rotateY(180deg);
    }

    55%{
        transform: rotateY(90deg) translateY(-50px);
    }
    60%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}

.linkBtn{
    background-color: transparent;
    border: none;
    display: inline-block;
    color: #0645AD;
    /* text-decoration: underline; */
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}

.coffeeCowContainer{
    position: absolute;
    right: 0;
    top: 10%;
    overflow: hidden;
}

.brandon{
    width: 20vw;
    min-width: 150px;
}
.coffee{
    position: absolute;
    transform: rotate(-90deg);
    width: 8vw;
    min-width: 50px;
    top: 15%;
    left: 75%;
    animation: coffeeAnimation 1s infinite;
}

@keyframes coffeeAnimation {
    0%{
        transform: rotate(-90deg);
    }
    50%{
        transform: rotate(-35deg);
    }
    100%{
        transform: rotate(-90deg);
    }
}

.atriocImg{
    position: absolute;
    width: 15%;
    top: 0;
    transform: rotate(180deg)
}

.baldtrioc{
    right: 2%;
}

.faketrioc{
    left: 2%;
}

.cornerMario{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10vw;
    min-width: 150px;
}

.paragraph{
    width: 80%;
    margin: auto;
}

.paddingDiv{
    padding: 200px 0;
}

@media screen and (max-width: 700px){
    .baldtrioc, .faketrioc{
        display: none;
    }

    #logo{
        width: 95%;
        margin-bottom: -25px;
    }

    .arrowBtn:first-child{
        left: 5px;
    }

    .arrowBtn:last-child{
        right: 5px;
    }

    #countdownContainer{
        flex-direction: column;
    }

    .reviewContainer{
        width: 100%;
    }

    .review{
        width: 60vw;
    }

    .mobileCountdown:nth-child(1){
        margin-bottom: 50px;
    }

    .countdownLabel{
        width: 100%;
        height: min-content;
    }

    .countdownLabel{
        font-size: 8vw;
    }
}