
@font-face {
    font-family: 'dogicaregular';
    src: url('dogica-webfont.woff2') format('woff2'),
         url('dogica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    height: 100vh;
    margin: 0;
    font-family: dogicaregular;
    letter-spacing: -3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5E7EB5;
    background: url("Preview_143.png");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: center;
    background-size: auto 100%;
    overflow-x: hidden;
}

.mainWrapper{
    margin: auto;
}

h1{
    text-shadow: 3px 3px 0px #ffffff;
    margin-bottom: 50px;
    text-align: center;
    margin-top: -60px;
    white-space: normal;
    margin-left: 50px;
    margin-right: 50px;
}

.mainContainer{
    padding: 15px;
    margin: 50px;
    margin-bottom: 25px;
}

.flexRow{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 12px 0 white, -12px 0 white, 0 -12px white,  0 12px white, 3px 0 0 6px white, -3px 0 0 6px white, 0 -3px 0 6px white, 0 3px 0 6px white, 15px 0 white,  -15px 0 white, 0 -15px white,  0 15px white, 0 0 0 9px white, 0 6px 0 6px white, 0 -6px 0 6px white, 6px 0 0 6px white, -6px 0 0 6px white;
}

.flexRow:nth-of-type(2), .flexRow:nth-of-type(3){
    margin: 15px 0;
}

.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    width: fit-content;
}

.description{
    opacity: 0.75;
    font-size: 12px;
    letter-spacing: 0;
    margin-top: 25px;
}


#userImg{
    max-width: 500px;
    display: none;
}

#userImg img, #userImg canvas{
    width: 100%;
    height: 100%;
    max-height: 500px;
}

#paletteContainer{
    position: relative;
}

.palette{
    display: flex;
    width: 90%;
    height: 20px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background-color: transparent;
    margin: 5px;
    transition: box-shadow 300ms;
    border-style: solid;
    border-width: 3px;
    border-color: transparent;
    border-image: url(border.png) 1005 round;
}

.palette:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 25px;
    width: 94%;
    margin-bottom: 3px;
    margin-top: 2px;
}

.paletteColor{
    flex: 1;
    height: 100%;
}

#selectedPalette{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 225px;
    padding-right: 10px;
    cursor: pointer;
    z-index: 1;
    position: relative;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: transparent;
    border-image: url(border.png) 1005 round;
}

#selectedPalette img{
    margin-left: 10%;
    transition: 200ms;
    width: 15px;
    pointer-events: none;
}

#selectedPalette .palette{
    box-shadow: none;
    pointer-events: none;
}

#paletteOptions{
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 500ms;
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 5px;
    padding-top: 10px;
}

.checkboxContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.checkboxContainer img{
    width: 15px;
}

#paletteCheckbox{
    margin-left: 50px;
    cursor: pointer;
}

#checkboxLabel{
    display: block;
    margin-top: 3px;
    margin-left: 13px;
}

.defaultBtn{
    all: unset;
    cursor: pointer;
    padding: 0 15px;
    margin-top: 25px;
    background-color: white;
}

.defaultBtn p {
    padding-top: 2px;
    box-shadow: 12px 0 white, -12px 0 white, 0 -12px white,  0 12px white, 3px 0 0 6px white, -3px 0 0 6px white, 0 -3px 0 6px white, 0 3px 0 6px white, 15px 0 black,  -15px 0 black, 0 -15px black,  0 15px black, 0 0 0 9px black, 0 6px 0 6px black, 0 -6px 0 6px black, 6px 0 0 6px black, -6px 0 0 6px black;
    transition: all 200ms;
}

.defaultBtn:hover > p{
    padding: 0 18px;
    padding-top: 2px;
}

#downloadBtn{
    display: none;
    margin: auto;
    margin-top: 25px;
}

#pixelBtn{
    margin-top: 50px;
}

#customBtn{
    all: unset;
    font-family: dogicaregular;
    margin-top: 5px;
    margin-bottom: 0;
    /* background-color: white; */
    width: 100%;
    padding: 5px 0;
    text-align: center;
    cursor: pointer
}

#customBtn:hover{
    transform: scale(1.1);
}

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #6BA1E5;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #6BA1E5;
    cursor: pointer;
}

#pixelSize{
    display: inline-block;
    width: 75px;
}

#imgInput{
    display: none;
}

.fileInputContainer{
    cursor: pointer;
    text-align: center;
    border-style: solid;
    /* border-width: 3px; */
    /* border-color: transparent; */
    border-image-source: url(border.png);
    /* border-image-repeat: round; */
    border-image-slice: 1005;
    padding: 25px 25px;
    padding-top: 10px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 18px;
}

.fileInputContainer img{
    width: 50px;
}



@media only screen and (max-width: 800px) {
    .mainContainer{
        flex-direction: column;
        margin-bottom: 100px;
    }
    .mainWrapper{
        margin: 0;
    }
    h1{
        margin-top: 40px;
    }
    #userImg{
        margin-top: 50px;
    }
}

@media only screen and (max-width: 635px) {
    .mainContainer{
        padding: 0;
    }
    .flexRow{
        flex-direction: column;
    }
    #pixelSize{
        width: auto;
    }
    #paletteCheckbox{
        margin-left: 0;
        
    }
    .checkboxContainer{
        margin-top: 30px;
    }
    #selectedPalette{
        margin-top: 13px;
    }
}

@media only screen and (max-width: 380px) {
    h1{
        margin-left: 0;
        margin-right: 0;
        font-size: 25px;
    }
    #selectedPalette{
        width: 164px;
    }
    #selectedPalette img{
        margin-left: 5%;
    }
    .slider{
        width: 100%;
    }
    body{
        text-align: center;
    }
    .mainContainer{
        margin: 35px;
        margin-bottom: 100px;
    }
}

